/.idea
/.git
/.DS_STORE
/__pycache__
/starvellapi/errors/__pycache__
/starvellapi/events/__pycache__
/starvellapi/types/__pycache__
/starvellapi/enums/__pycache__
/starvellapi/utils/__pycache__
/starvellapi/filters/__pycache__
/examples/__pycache__
main.py