/.idea
/.git
/.DS_STORE
/__pycache__
/starvell/errors/__pycache__
/starvell/events/__pycache__
/starvell/types/__pycache__
/starvell/enums/__pycache__
/starvell/utils/__pycache__
/starvell/filters/__pycache__
/examples/__pycache__
main.py